/*global properties*/
head {
     scroll-behavior: smooth;
}
body{
    background: black;
    font-family: "baloo Tamaa 2",cursive;
}
/*main heading*/
.m-heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*navigation-link*/
.navigation-link{
    border: 2px solid transparent;
}
.navigation-link:hover{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5 ease;
}
.text-white{
    color: white;
}
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('1.png');
    background-attachment: fixed;
    background-size: cover;
}

/* Aligning items in main row */
.main_row {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Changing Name Font sixe */
.main_row h1 {
    font-size: 5rem;

}
/* Making the main image the size of the screen */ 
.main_row img {
    width: auto;
    height: 100vh;

}